<div class="jumbotron">
    <h1 class="text-center">Blog</h1>  
</div>
<p class="alert alert-info" ng-show="msg.length">{{msg}}</p>
<div class="row">
    <div class="col-md-12">
        <form action="">
        	<div class="input-group">
        		<span class="input-group-btn">
        			<a href="post/add" class="btn btn-primary">Cadastrar</a>
        		</span>
                <input ng-model="bfilter" ng-model-options="{debounce:500}" type="text" class="form-control" placeholder="buscar...">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <main-painel class="col-md-4 fadeout" ng-repeat="post in posts | filter:bfilter" title="{{post.post_title}}">
        <img class="img-responsive center-block" src="http://via.placeholder.com/150x150" alt="{{post.post_title}}"/>
        <a href="post/edit/{{post.post_id}}" class="btn btn-primary btn-block">Editar</a>
        <button ng-click="remove(post)" class="btn btn-danger btn-block">Remover</button>
    </main-painel>
</div>